@charset "UTF-8"

/* body {
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
} */

/* ヘッダー分の余白を本文に追加 */
.main-content {
  margin-top: 100px; /* ヘッダーの高さ分だけ空ける */
}

/* 全体を中央に寄せる */
.page-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 40px; 全体的に文字大きく
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; /* 子要素（入力欄・ボタン）を中央に */
  margin-top: 5%;
}

h1 {
  font-size: 60px;
  text-align: center;
}
form div {
    margin-bottom: 50px;
    width: 100%;
    max-width: 800px; /* 入力欄の幅を制限 */
}
label {
    display: block;
    font-size: 60px;
}

.form-group {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 50px;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: bold;
}

.form-group textarea {
  width: 90%;
  padding: 8px;
  border-radius: 8px;
}

.star-rating {
  display: inline-flex;#横並びにする
  gap: 4px;#星の間に4pxの隙間
  direction: ltr; /* ← 通常方向に戻す */
}
.star-rating input[type="radio"] {
  display: none;
}
.star-rating label {
  font-size: 100px;
  color: #ccc;
  cursor: pointer;
}
/* 選択された星以前の星も黒にする */
.star-rating input[type="radio"]:checked + label,
.star-rating input[type="radio"]:checked ~ label {
  color: #000;
}

/* ホバーで左側の星も黒に */
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #000;
}

button[type="submit"] {
  font-size: 60px;
  align-items: center;
  padding: 10px 30px;
}

#favoriteBtn {
  font-size: 100px;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-outline-secondary {
  font-size: 50px;
  padding: 12px 24px;
}

#open-category-modal {
  font-size: 30px;
  color: gray;
  margin-left: 10px;
  text-decoration: none;
}

#selected-recipes {
  margin-top: 10px;
  font-size: 40px;
}

/* モーダル全体の文字サイズを大きく */
.modal-content {
  font-size: 30px;
  border-radius: 12px;
}

/* モーダルタイトル */
.modal-title {
  font-size: 40px;
  font-weight: bold;
}

/* モーダル入力欄 */
.modal-body input.form-control {
  font-size: 40px;
  padding: 5px;
  height: auto;
  border-radius: 8px;
}

/* モーダル内のボタン */
.modal-footer .btn {
  font-size: 30px;
  padding: 10px 24px;
  border-radius: 8px;
}
