{% extends 'base.html' %}
{% block content %}

<style>
  .main-content {
    margin-top: 100px; /* ヘッダーの高さ分だけ空ける */
  }

  form {
      display: flex;
      flex-direction: column;
      align-items: center; /* 子要素（入力欄・ボタン）を中央に */
      margin-top: 5%;
  }

  form div {
      margin-bottom: 50px;
      width: 100%;
      max-width: 800px; /* 入力欄の幅を制限 */
  }
  label {
      display: block;
      font-size: 60px;
  }

  .input-large {
      font-size: 50px;
      padding: 10px;
      width: 100%;
    }
    
  .btn-large {
      font-size: 60px;
      padding: 10px 30px;
    }
    
  .btn-submit {
      font-size: 60px;
      padding: 10px 30px;
    }
    
  .error {
    color: red;
    font-size: 40px;
    margin-top: 10px;
  }

</style>
  
<div class="main-content">
  <form method="post" class="form-container">
    {% csrf_token %}
    <div class="form-group">
      <label>URL:</label><br>
      <input type="text" name="recipe_url" id="recipe-url" required class="input-large" value="{{ form.recipe_url.value|default_if_none:'' }}">
      {% if form.recipe_url.errors %}
        <div class="error">{{ form.recipe_url.errors.0 }}</div>
      {% endif %}
    </div>
    {% comment %} <button type="button" onclick="fetchTitle()" class="btn-large">レシピ名取得</button><br><br><br> {% endcomment %}

    <div class="form-group">
      <label>レシピ名:</label><br>
      <input type="text" name="name" id="recipe-name" required class="input-large" value="{{ form.name.value|default_if_none:'' }}">
      {% if form.name.errors %}
        <div class="error">{{ form.name.errors.0 }}</div>
      {% endif %}
    </div>
    <button type="submit" class="btn-submit">リストに追加</button>
  </form>
    
  {% comment %} <script>
  function fetchTitle() {
    const url = document.getElementById('recipe-url').value;
  
    if (!url) {
      alert("URLを入力してください");
      return;
    }
  
    const xhr = new XMLHttpRequest();
    xhr.onload = function () {
      const doc = this.responseXML;
      const title = doc ? (doc.querySelector('title')?.textContent || 'タイトルなし') : '取得失敗';
      document.getElementById('recipe-name').value = title;
    };
    xhr.open("GET", url, true);
    xhr.responseType = "document";
    xhr.send();
  }
  </script> {% endcomment %}
</div>

{% endblock %}
