{% extends 'base.html' %}
{% block content %}

<style>
  .main-content {
    margin-top: 100px; /* ヘッダーの高さ分だけ空ける */
  }

  .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      }
  
  .search-form {
      display: flex;
      width: 100%;
      margin: 0 10px; /* 少し余白が欲しければ */
}
  
  .search-form input {
      font-size: 40px;
      padding: 4px;
      width: 90%;
      box-sizing: border-box; /* パディング込みでも幅が崩れないように */
      }
  
  .search-form button {
      font-size: 50px;
      padding: 5px 15px;
      }
      
  .recipe-list {
      font-size: 40px;
      list-style: none;
      padding: 0;
      }
  
  .recipe-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      }
  
  .recipe-info {
      max-width: 900px; /* 例として親要素の幅を設定 */
      }        

  .recipe-info a,
  .arrow {
      font-size: 30px;
      color: gray;
      text-decoration: none; /* 下線消したい場合 */
      }
  
  .recipe-info a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      max-width: 90%;
      }

  .add-btn {
      position: fixed;
      bottom: 60px;
      right: 60px;
      background-color: #e0e0e0;
      color: #000000;
      font-size: 100px;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      text-align: center;
      line-height: 150px;
      text-decoration: none;
      box-shadow: 0 4px 8px rgba(0,0,0,0.3);
      transition: background-color 0.3s;
      z-index: 1000;
      }
    
</style>

<div class="main-content">
  <div class="header">
      <form method="get" class="search-form">
        <input type="text" name="q" value="{{ query }}" placeholder="レシピを検索">
        <button>🔍</button>
      </form>
    </div>
    
    <ul class="recipe-list">
      {% for recipe in recipes %}
        <li class="recipe-item">
          <div class="recipe-info">
            <p class="recipe-name">{{ recipe.name }}</p>
            <a href="{{ recipe.recipe_url }}" target="_blank">{{ recipe.recipe_url }}</a>
          </div>
          <a href="{{ recipe.recipe_url }}" target="_blank" class="arrow">＞</a>
        </li>
      {% empty %}
        <li>レシピが見つかりませんでした。</li>
      {% endfor %}
    </ul>
    
    <a href="{% url 'recipes:add_recipe' %}" class="add-btn">＋</a>
  </div>

{% endblock  %}