{% extends 'base.html' %}

{% block content %}
<style>
    .main-content {
        margin-top: 100px; /* ヘッダーの高さ分だけ空ける */
        padding-left: 30px; /* 左側に30pxの余白 */
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center; /* 子要素（入力欄・ボタン）を中央に */
        margin-top: 100px;
    }
    
    label {
        display: block;
        font-size: 60px;
    }
    .invite-url {
        margin-bottom: 80px;
        width: 100%;
        {% comment %} max-width: 700px; /* 入力欄の幅を制限 */ {% endcomment %}
        font-size: 40px;
    }

    input[type="url"]{
      font-size: 60px;
      height: 100px;
    }
    {% comment %} input[type="submit"] {
        font-size: 60px;
        padding: 10px 30px;
    } {% endcomment %}
</style>  

<div class="main-content">
    {% if invite_url %}
        <label>招待用URL：</label>
        <div class="invite-url">
            <input id="invite-url" type="text" value="{{ invite_url }}" readonly style="width:70%;">
            {% comment %} <button onclick="copyToClipboard()">コピー</button> {% endcomment %}
            <p>※このリンクを招待したい人に送ってください。</p>
            <p>※このリンクは一度利用されると無効になります。</p>
        </div>
    {% else %}
        <p>招待リンクの生成に失敗しました。</p>
    {% endif %}
</div>

{% comment %} <script>
function copyToClipboard() {
    const input = document.getElementById('invite-url');
    input.select();
    input.setSelectionRange(0, 99999); // モバイル対応（あとで確認）
    navigator.clipboard.writeText(input.value)
    alert('コピーしました！');
}
</script> {% endcomment %}

{% endblock  %}