{% extends 'base.html' %}
{% block content %}

<style>
  .main-content {
    margin-top: 100px; /* ヘッダーの高さ分だけ空ける */
  }

  .record-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 横に最大3枚 */
    gap: 5px;
    padding: 5px;
    justify-items: center;
  }
  
  .record img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .record {
    text-align: center;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    width: 100%;
    max-width: 300px;
    height: 20%;
    border: 5px solid black; /* 黒枠をつける */
    border-radius: 10px;
  }
  
  .favorite-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .floating-plus-btn {
    position: fixed;
    bottom: 60px;
    right: 60px;
    background-color: #e0e0e0;
    color: #000000;
    font-size: 100px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: background-color 0.3s;
    z-index: 1000;
  }
  
</style>

<div class="main-content">
  <div class="record-grid">
  {% for record in cooking_records %}
    <div class="record">
      <div class="image-container">
        {% if record.image_url %}
        <div>
          <a href="{% url 'cooking_records:record_detail' record.id %}">
            <img src="{{ record.image_url.url }}" alt="料理写真" />
          </a>
        </div>
        {% else %}
            <p>画像なし</p>
            {% comment %} <img src="{% static 'images/no_image.png' %}" alt="画像なし" /> {% endcomment %}
        {% endif %}

        <button class="favorite-btn" onclick="toggleFavorite({{ record.id }}, this)">
          {% if record.is_favorite %}
            ❤️
          {% else %}
            🤍
          {% endif %}
        </button>
      </div>
    </div>
  {% empty %}
  <h2>まだ登録はありません。</h2>    
  {% endfor %}
  </div>
</div>

<script>
  function toggleFavorite(recordId, btn) {
    fetch(`/cooking_records/${recordId}/toggle_favorite/`, {
      method: 'POST',
      headers: {
        'X-CSRFToken': '{{ csrf_token }}',
        'Content-Type': 'application/json'
      },
    })
    .then(res => res.json())
    .then(data => {
      btn.textContent = data.is_favorite ? '❤️' : '🤍';
    });
  }
</script>

<a href="{% url 'cooking_records:cooking_record_create' %}" class="floating-plus-btn">＋</a>

{% endblock  %}